<h1>Check'm Out</h1>

<% if @games_list.class == Array %>
    <ul>
      <% @games_list.each do |game| %>
      <li><%= link_to game["name"]["us"], '/game' + "?title=" + URI.encode(game["name"]["us"]), id: 'game_link' %></li>
        <% end %>
    </ul>
<% else %>
<ul>
  <li><%= link_to @games_list["name"]["us"], '/game' + "?title=" + URI.encode(@games_list["name"]["us"]), id: 'game_link' %>
</ul>
<% end %>
