%h1 Your Games:
- if @user_games.empty?
	%p You have not yet saved any games to your list.
	Head over to 
	= link_to "here", start_path
	to find some games
- else
	%ul
		- @user_games.each do |game|
			%li
				= link_to game.title.gsub("+", " "), '/game' + '?title=' + game.title, id: 'game_link'