/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a {
  color: #D3D3D3;
}

body {
  background-image: asset-url("si_background.png", image);
  background-size: cover;
  clear: both;
  font-family: 'Press Start 2P', Montserrat;
  margin: 0 auto;
  text-align: center;
}

.center {
  background-color: rgba(12, 59, 45, .6);
  border: 10px solid rgba(128, 128, 128, .6);
  border-radius: 15px;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 10%;
  margin-top: 10%;
  padding: 35px;
  text-align: center;
  width: 55%;
}

.center img {
  border: 5px solid rgba(128, 128, 128, .6);
  width: 85%;
}

.footer {
  background-color: rgba(12, 59, 45, .6);
  border-top: 5px solid rgba(128, 128, 128, .6);
  color: #fff;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

.header {
  background-color: rgba(12, 59, 45, .6);
  border-bottom: 5px solid rgba(128, 128, 128, .6);
  color: #fff;
  margin: 0 auto;
  padding: 10px;
  width: 100%;
}

li {
  list-style: none;
  padding-top: 15px;
}

.label {
  line-height: 45px;
}

.go {
  border: 4px solid #000;
  border-radius: 50%;
  color: #fff;
  font-family: 'Press Start 2P', Montserrat;
  background-image: -webkit-linear-gradient(right, #D1FFDF 0%, #2EE726 100%);
  height: 40px;
  margin-top: 8px;
}

.button {
  border: 4px solid #000;
  border-radius: 50%;
  color: #fff;
  font-family: 'Press Start 2P', Montserrat;
  background-image: -webkit-linear-gradient(right, #FFFFFF 0%, #DF0101 100%);
  height: 40px;
  margin-top: 8px;

}
