/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a {
  color: #D3D3D3;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, .7)
}

.answer {
  background-color: #D3D3D3;
  display: block;
  font-family: 'Press Start 2P', Montserrat;
  margin: 0 auto;
  padding: 15px;
}

body {
  background-image: asset-url("si_background.png", image);
  background-size: contain;
  font-family: 'Press Start 2P', Montserrat;
  margin: 0 auto;
  text-align: center;
}

.center {
  background-color: rgba(12, 59, 45, .6);
  border: 10px solid rgba(128, 128, 128, .6);
  border-radius: 15px;
  color: #fff;
  height: 85%;
  margin: 10% auto 10% auto;
  padding: 35px;
  text-align: center;
  width: 55%;

    img {
      border: 5px solid rgba(128, 128, 128, .6);
      width: 85%;
    }
}

.footer {
  background-color: rgba(12, 59, 45, .6);
  border-top: 5px solid rgba(128, 128, 128, .8);
  bottom: 0;
  color: #fff;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.header {
  background-color: rgba(12, 59, 45, .6);
  border-bottom: 5px solid rgba(128, 128, 128, .8);
  color: #fff;
  line-height: 30px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 1);
}

li {
  list-style: none;
  padding-top: 15px;
  line-height: 35px;
}

.label {
  display: block;
  line-height: 45px;
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 1);
}

.go {
  background: #b4e391; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #b4e391 0%, #61c419 50%, #b4e391 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* IE10+ */
  background: linear-gradient(135deg, #b4e391 0%,#61c419 50%,#b4e391 100%); /* W3C */
  border: 4px solid #000;
  border-radius: 50%;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  font-family: 'Press Start 2P', Montserrat;
  height: 40px;
  margin-top: 8px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}

.button {
  background: #ff3019; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ff3019 0%,#cf0404 100%); /* IE10+ */
  background: linear-gradient(135deg, #ff3019 0%,#cf0404 100%); /* W3C */
  border: 4px solid #000;
  border-radius: 50%;
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  font-family: 'Press Start 2P', Montserrat;
  height: 40px;
  margin-top: 8px;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);

}

html {
  position: relative;
}

