- if signed_in?
	= simple_form_for :session, url: signout_path, method: 'delete' do |f|
		Player 1 - 
		= current_user.email
		= f.button :submit, "Quit?!?", :class => 'button', id: 'signout'
- else
	= get_quote.sample